body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.collectionBoard {
  height: 95%;
  width:100%;
  
}
.cardsContainer {
  margin-right:2.5%;
  display:inline-block;
  position:relative;
  height: 30%;
  width: 10%;
  border: 3px solid yellow;
  background:red;
  
}
.cardContent {
  position:relative;
  height:100%;
  width:100%;
}
.newCard{
  top:40%;
  /* height:85%;*/
  width: 50%;
  left:25%;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  text-align:center;
  background:whitesmoke;
  overflow:hidden;
  padding:1px;
}
.newCard input{
  opacity: .8;

  border: 3px solid rgb(108, 190, 115);
  border-radius: 5px;
  margin:1vh;
  transition: ease .2s;
}
.newCard input:hover{
  
  background:rgb(108, 190, 115);
  border-radius: 5px;
  margin:1vh;
}
.buttons{
  font-weight:900;
  font-size: 1.2vw;
  margin-bottom:5px;
  opacity:.8;
  color:whitesmoke;
  width: 20%;
  height: 10%;
  border: 3px solid rgb(108, 190, 115);
  background-color: rgb(108, 190, 115);
  transition:ease .15s;

}
.buttons:hover{
  cursor: pointer;
  transform: scale(1.1);
}
li{display:inline-block}
